<div>
    <p>{{flag.svg}}{{name.common}}</p>
    <ul>
        <li>Capital: {{capital}}</li>
        <li>Population: {{population}}</li>
        <li>{{languages}}</li>
       
    </ul>
</div>

//не знаю як розпарсити обєкт Langugaes у цьому шаблонізаторі
//Тому зробив це у Js файлі  